body {
	background-image: linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0.4)), url("../assets/888.jpg");
	height: 100vh;
}

.banner {
	max-width: 100%;
	position: absolute;
	text-transform: uppercase;
	top: 38%;
	width: 100%;
}

.title {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem hsl(0, 0, 0%);
	padding-bottom: 1rem;
}

@media (min-width: 768px) {
	.title {
		font-size: 2.5rem;
	}
}

@media (min-width: 992px) {
	.title {
		font-size: 3.3rem;
	}
}

.intro {
	font-size: 1.2rem;
	text-shadow: 0.1rem 0.1rem 0.5rem hsl(0, 0, 0%);
	padding-bottom: 1.7rem;
}

@media (min-width: 768px) {
	.intro {
		font-size: 1.5rem;
	}
}

@media (min-width: 992px) {
	.intro {
		font-size: 2rem;
	}
}
