.map {
	border: 1px solid hsl(0, 0%, 50%);
	border-radius: 0.5rem;
	display: block;
	height: 25rem;
	margin: 0 auto;
	padding: 0.3rem;
	width: 100%;
}

.icon-marker {
	height: 1.9rem;
	margin-top: -0.9rem;
}

.carousel-inner {
	border-radius: 0.5rem;
}

.carousel-item {
	height: 20rem;
}

.carousel-image {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
